In [1]:
import pandas as pd
from sklearn import linear_model, model_selection

## Reading a CSV file into a DataFrame using Pandas

In [2]:
breast_cancer_df = pd.read_csv('breast_cancer.csv')

#### Preprocessing steps : -

In [3]:
def fill_missing_values(column):
  breast_cancer_df[column].fillna(breast_cancer_df[column].mean(), inplace= True)

In [4]:
def call_fill_missing_values(dictionary):
  for key in dictionary:
    value = dictionary[key]
    if value:
      fill_missing_values(key)

In [5]:
def drop_missing_values():
  breast_cancer_df.dropna(inplace= True)

In [6]:
def create_dictionary(column):
  column_unique_values= column.unique()
  column_dictionary={}
  for index,element in enumerate(column_unique_values):
    column_dictionary[element]= index
  return column_dictionary

###### Replacing non-numeric values with numeric values

In [7]:
diagnosis = create_dictionary(breast_cancer_df['diagnosis'])
diagnosis

{'B': 1, 'M': 0}

In [8]:
breast_cancer_df.diagnosis.replace(diagnosis, inplace= True)
breast_cancer_df.head()

         id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302          0  ...          0.4601                  0.11890
1    842517          0  ...          0.2750                  0.08902
2  84300903          0  ...          0.3613                  0.08758
3  84348301          0  ...          0.6638                  0.17300
4  84358402          0  ...          0.2364                  0.07678

[5 rows x 32 columns]

###### option 1 /

In [9]:
drop_missing_values()

###### option 2 /

In [9]:
empty_value_column_dictionary = dict(breast_cancer_df.isna().sum() > 0)
empty_value_column_dictionary

{'area_mean': True,
 'area_se': True,
 'area_worst': True,
 'compactness_mean': True,
 'compactness_se': False,
 'compactness_worst': False,
 'concave points_mean': True,
 'concave points_se': True,
 'concave points_worst': False,
 'concavity_mean': False,
 'concavity_se': True,
 'concavity_worst': False,
 'diagnosis': False,
 'fractal_dimension_mean': True,
 'fractal_dimension_se': False,
 'fractal_dimension_worst': False,
 'id': False,
 'perimeter_mean': True,
 'perimeter_se': False,
 'perimeter_worst': False,
 'radius_mean': True,
 'radius_se': True,
 'radius_worst': False,
 'smoothness_mean': False,
 'smoothness_se': True,
 'smoothness_worst': False,
 'symmetry_mean': False,
 'symmetry_se': False,
 'symmetry_worst': False,
 'texture_mean': True,
 'texture_se': True,
 'texture_worst': False}

In [10]:
call_fill_missing_values(empty_value_column_dictionary )

In [11]:

breast_cancer_df.isna().sum()

id                         0
diagnosis                  0
radius_mean                0
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    0
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
dtype: int64

## Splitting the data into inputs/features (x) and output/target ( y )

In [12]:
feautres = breast_cancer_df.loc[:, (breast_cancer_df.columns != 'id') & (breast_cancer_df.columns != 'diagnosis')]
feautres.head()

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [13]:
labels = breast_cancer_df.loc[:, (breast_cancer_df.columns == 'diagnosis')]
labels.head()

   diagnosis
0          0
1          0
2          0
3          0
4          0

In [14]:
features_train, features_test, labels_train, labels_test = model_selection.train_test_split(feautres,labels,test_size=0.85, stratify=labels, random_state=42)

## Picking the appropriate linear model type for this kind of problem

In [19]:
model= linear_model.LogisticRegression(penalty='l2', max_iter=2000, random_state=42 , C=12)

## Trainning the model

In [20]:
model.fit(features_train,labels_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=12, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
model.predict(features_test)

array([1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1])

## Evaluating model accuracy (should be above 90% or 0.90)

In [26]:
# when dropping missing values (using option 1)
print("model's train accuracy: ",model.score(features_train,labels_train))
print("model's test accuracy: ",model.score(features_test,labels_test))

model's train accuracy:  1.0
model's test accuracy:  0.921443736730361

In [22]:
# when filling missing values with the column mean value (using option 2)
print("model's train accuracy: ",model.score(features_train,labels_train))
print("model's test accuracy: ",model.score(features_test,labels_test))

model's train accuracy:  0.9882352941176471
model's test accuracy:  0.9483471074380165